<a href="https://colab.research.google.com/github/atherfawaz/BERT-Supervised/blob/master/BERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Supervised Learning with BERT

***Question*: Supervised Learning with BERT
The Astrological department believes that a person's astrological sign can be guessed from their behavior. An organization is collecting blog-posts of different people from various sources. You have been tasked to build a Deep Learning model that can use these posts data of individuals to predict which star group out of 12 does an individual belong to. You also need to tell the gender of that person.**

In [ ]:
#from google.colab import drive
#drive.mount('/content/gdrive')
%cd /content/drive/My Drive/Ebryx/blogs_train

/content/drive/My Drive/Ebryx/blogs_train

In [ ]:
!tar -xvf  'blogs_train.tar.xz'
%cd /content/drive/My Drive/Ebryx/blogs_train

# Dataset
The file name would contain the gender, age, occupation, and astrological sign of the blooger. For example, 4115891.male.24.Student.Leo.xml is one file. A single file will contain a set of blogs separated by date. To illustrate, this is what a sample file looks like:

```
<Blog>
  <date>31,May,2004</date>
    <post>

*   List item
*   List item


      Well, everyone got up and going this morning.  It's still raining, but that's okay with me.  Sort of suits my mood.  I could easily have stayed home in bed with my book and the cats.  This has been a lot of rain though!..
    </post>
</Blog
```

# Parsing the dataset
Parsing the dataset from separate files into a Pandas Dataframe for displaying and easy access. Some XML files contain encoding issues and the problematic contents of those files have been replaced by random number. While this could impact the accuracy of the model later, the effect would not be that big.

In [ ]:
import os
import pandas as pd
import numpy as np
import codecs
from bs4 import BeautifulSoup

FILES = os.listdir()
#print(FILES)
#FILES = ['4115891.male.24.Student.Leo.xml', '4115958.male.16.Communications-Media.Libra.xml', '4116071.male.26.Arts.Sagittarius.xml', '4116243.female.24.Manufacturing.Sagittarius.xml']

posts_arr = []
sign_arr = []
gender_arr = []
age_arr = []
occupation_arr = []

for to_fetch in FILES:
    #print('Parsing file:', to_fetch)
    gender = to_fetch.split('.')[-5]
    age = to_fetch.split('.')[-4]
    occupation = to_fetch.split('.')[-3]
    sign = to_fetch.split('.')[-2]
    with codecs.open(to_fetch, 'r', encoding='utf-8', errors='ignore') as fp:
      soup = BeautifulSoup(fp, 'lxml', from_encoding='utf8')
      posts = soup.find_all('post')
      #print(soup.prettify())
      for post in posts:
        posts_arr.append(post.text)
        sign_arr.append(sign)
        age_arr.append(age)
        occupation_arr.append(occupation)
        gender_arr.append(gender)

df = pd.DataFrame({'Gender': gender_arr, 'Age': age_arr, 'Occupation': occupation_arr, 'Post': posts_arr, 'Sign': sign_arr})

df.head(50)

    Gender Age  ...                                               Post         Sign
0     male  24  ...  \r\n\r\n     \r\n      I just watched Beauty a...          Leo
1     male  24  ...  \r\n\r\n     \r\n         This picture shows a...          Leo
2     male  24  ...  \r\n\r\n     \r\n         So I just used the t...          Leo
3     male  24  ...  \r\n\r\n     \r\n      This is a dumb little s...          Leo
4     male  24  ...  \r\n\r\n     \r\n         Listen, you fuckers,...          Leo
5     male  24  ...  \r\n\r\n     \r\n        I love the smell of n...          Leo
6     male  24  ...  \r\n\r\n     \r\n         Here in the USA we b...          Leo
7     male  24  ...  \r\n\r\n     \r\n      I couldnâ€™t stand it any...          Leo
8     male  24  ...  \r\n\r\n     \r\n      I wrote this a couple w...          Leo
9     male  24  ...  \r\n\r\n     \r\n      Welcome to my Blog.  :)...          Leo
10    male  16  ...  \r\n\r\n     \r\n      Hooray! Hooray! Let the...        Libra
11    male  16  ...  \r\n\r\n     \r\n       Well folks, the staff ...        Libra
12    male  16  ...  \r\n\r\n     \r\n      First post! Woohoo! Jus...        Libra
13    male  26  ...  \r\n\r\n\t \r\n       urlLink    Mrs. Valencia...  Sagittarius
14    male  26  ...  \r\n\r\n\t \r\n       So the Swift Boat Vetera...  Sagittarius
15    male  26  ...  \r\n\r\n\t \r\n       urlLink    NormalEmoÂ  ur...  Sagittarius
16    male  26  ...  \r\n\r\n\t \r\n        One of my favorite band...  Sagittarius
17    male  26  ...  \r\n\r\n\t \r\n       i just received the scri...  Sagittarius
18    male  26  ...  \r\n\r\n\t \r\n        i just wish i was a lit...  Sagittarius
19    male  26  ...  \r\n\r\n\t \r\n        seeing as this is my fi...  Sagittarius
20    male  26  ...  \r\n\r\n\t \r\n       urlLink    one of my bet...  Sagittarius
21  female  24  ...                                                 \n  Sagittarius
22  female  24  ...  \r\n\r\n\t\t\t\t\t\t\r\n\t\t\t\t\t\t     Today...  Sagittarius
23  female  24  ...  \r\n\r\n\t\t\t\t\t\t\r\n\t\t\t\t\t\t     And s...  Sagittarius

[24 rows x 5 columns]